:root {
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #FFF;
  --black: #000;
  --dark: #232830;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

ul li {
  margin-block: 30px;

  font-size: var(--md);
  font-weight: 700;
  text-align: right;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background-color: unset;
  padding: 0;
  border: 0;
}

/* NAVBAR */

.navbar-options,
.my-account {
  display: none;
}

.navbar {
  inline-size: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  block-size: 46px;
  padding-inline: 15px;
  padding-block: 10px;
}

/* DESKTOP MENU */

.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 100%);
  bottom: 0;
  z-index: 10;

  box-sizing: border-box;
  inline-size: 153px;
  padding-inline: 25px;
  
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
}

.line {
  inline-size: 100%;

  outline: 1px var(--very-light-pink) solid;
}

.signout-button {
  margin-block: 20px;

  font-size: var(--sm);
  font-weight: 700;
  color: var(--hospital-green);
  text-align: right;
  cursor: pointer;
}

/* MOBILE MENU */

.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 100;

  inline-size: 100%;
  block-size: 100vh;

  background-color: var(--white);
}

.menu-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  inline-size: 100%;
  max-inline-size: 375px;
  block-size: 100vh;
  padding-inline: 20px;
  padding-block: 20px 56px;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-icon {
  align-self: flex-end;

  cursor: pointer;
}

.categories-options,
.account-options {
  inline-size: 100%;
}

.categories-options h1 {
  margin-block: 6px 39px;

  font-size: var(--md);
  font-weight: 700;
}

.categories-options li,
.account-options li {
  margin-block: 37px;

  font-size: var(--md);
  font-weight: 700;
}

.line {
  inline-size: 100%;
  outline: 1px var(--very-light-pink) solid;
}

.email {
  font-size: var(--sm);
}

.login-info .signout-button {
  font-size: var(--sm);
  color: var(--hospital-green);
  font-weight: 700;

  cursor: pointer;
}

/* SHOPPING CART */

.my-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  right: 0;

  inline-size: 100%;
  max-block-size: calc(100vh - 66px);
}

.my-order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  inline-size: 100%;
  min-block-size: calc(100vh - 66px);
  padding-inline: 15px;
}

.title {
  display: none;
}

.articles-list {
  overflow: auto;
  padding-inline: 10px;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-block-end: 24px;
}

.article p {
  margin: 0;
}

.article-left,
.article-right {
  display: flex;
  align-items: center;
  gap: 17px;
}

.article-image {
  inline-size: 76px;
  block-size: 76px;

  border-radius: 20px;
  object-fit: cover;
}

.article-name {
  font-size: var(--sm);
  font-weight: 400;
}

.article-mount {
  font-size: var(--md);
  font-weight: 700;
}

.bottom-shopping-cart {
  position: sticky;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 18px;

  padding-block: 15px;

  background-color: var(--white);
}

.total-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 18px 13px;
  padding-block: 30px;

  background-color: var(--text-input-field);
  border-radius: 10px;
}

.total-info p {
  margin-block: 3.5px;
  font-size: var(--md);
  font-weight: 700;
}

.checkout-cta {
  background-color: var(--hospital-green);
  padding-block: 18px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
  font-size: var(--md);
  cursor: pointer;
}

/* HOME: PRODUCTS LIST */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
  max-block-size: calc(100vh - 66px);
  padding-inline: 10px;

  overflow: auto;
}

.product-card-container {
  --card-inline-size: 170px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  inline-size: 100%;
  max-inline-size: var(--card-inline-size);
}

.product-card-image {
  block-size: var(--card-inline-size);

  border-radius: 20px;
  object-fit: cover;
}

.product-info-container {
  display: flex;
  justify-content: space-between;
}

.product-info p {
  margin-block: 0;
}

.product-info .price {
  font-family: Roboto, sans-serif;
  font-size: var(--md);
  font-weight: 700;
}

.product-info .description {
  font-size: var(--sm);
  color: var(--dark);
}

.product-card-container {
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;

  position: absolute;
  background-color: #fff;
  right: 0;
  
  inline-size: 100%;
  block-size: 100vh;
  max-block-size: calc(100vh - 66px);
  background-color: var(--white);
}

.product-images {
  inline-size: 100%;

  position: relative;
}

.close-button {
  padding: 14px;
  background-color: var(--white);
  border-radius: 50%;

  position: absolute;
  top: 17px;
  left: 12px;
}

.product-image {
  inline-size: 100%;
  block-size: 50vh;

  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.image-indicators {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.image-indicator {
  --size: 5px;
  inline-size: var(--size);
  block-size: var(--size);
  background-color: var(--very-light-pink);
  opacity: 25%;
  border-radius: 50%;
  margin-block-start: 14px;
}

.image-indicator.selected {
  opacity: unset;
}

.product-info {
  margin-block-start: 25px;
  padding-inline: 18px;
}

.price {
  font-size: var(--lg);
  font-weight: 700;
  margin-block-end: 5px;
}

.name {
  font-size: var(--lg);
  font-weight: 400;
  margin-block-end: 20px;
}

.product-description {
  font-size: var(--md);

  overflow: auto;
  max-block-size: 100px;
}

.add-product-cta {
  margin-inline: 18px;
  margin-block-end: 22px;
  border-radius: 10px;
  background-color: var(--hospital-green);
}

.add-product-cta p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.5px;
  font-size: var(--lg);
  color: var(--white);
}

.inactive {
  display: none;
}

@media (min-width: 768px) {
  .hamburguer-menu,
  .menu-mobile {
    display: none;
  }

  .navbar-container {
    block-size: 54px;
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .navbar-right {
    position: relative;
  }

  .logo {
    block-size: 30px;
  }

  .navbar-options {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .navbar-option {
    padding-inline: 14px;
    padding-block: 5px;
    border: 1px solid var(--white);

    color: var(--very-light-pink);
    font-weight: 500;
    font-size: var(--md);
  }

  .navbar-option.selected,
  .navbar-option:hover {
    color: var(--hospital-green);
    border: 1px var(--hospital-green) solid;
    border-radius: 10px;
  }

  .my-account {
    display: flex;
    align-items: center;
    gap: 7.5px;
  }

  .my-account p {
    display: none;
    
    margin: 0;
  }

  .user-icon {
    display: block;

    inline-size: 100%;
    block-size: 20px;
  }

  .my-account .arrow-icon {
    rotate: 90deg;
  }

  .my-order { 
    max-inline-size: 400px;
    max-block-size: calc(100vh - 74px);
  }

  .my-order-container {
    min-block-size: calc(100vh - 70px - 74px);
  }

  .title {
    position: sticky;
    top: 0;

    display: flex;
    gap: 24px;

    box-sizing: border-box;
    inline-size: 100%;
    max-inline-size: 400px;
    padding-inline: 15px;
    padding-block-start: 17px;

    background-color: var(--white);
  }

  .title .arrow-shoppin-cart-icon {
    cursor: pointer;
  }

  .title h2 {
    font-size: var(--lg);
    font-weight: 700;
  }

  .products-container {
    max-block-size: calc(100vh - 74px);
  }

  .product-container {
    max-inline-size: 400px;
    max-block-size: calc(100vh - 74px);
  }
}

@media (max-width: 370px) {
  .product-card-container {
    max-inline-size: 280px;
  }
}

@media (min-width: 935px) {
  .menu-container {
    left: 50%;
  }
  
  .user-icon {
    display: none;
  }

  .my-account p {
    display: block;
  }
}